<div class="todo-container">
    <h2>Lista de Tarefas</h2>
    <div class="input-group">
      <input [(ngModel)]="novaTarefa" placeholder="Digite uma nova tarefa" />
      <button (click)="adicionarTarefa()">Adicionar</button>
    </div>
    <ul class="todo-list">
      <li *ngFor="let tarefa of tarefas; let i = index" [class.completed]="tarefa.concluida">
        <input type="checkbox" [(ngModel)]="tarefa.concluida" />
        {{ tarefa.nome }}
        <button class="remove-btn" (click)="removerTarefa(i)">Remover</button>
      </li>
    </ul>
  </div>
  